<% include partials/header %>

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
                <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Profile
                <!-- <small class="category">Complete your profile</small> -->
            </h4>
        </div>
        <div class="card-body">
            <div class="ui info message">
                <div class="header">
                    User Profile
                </div>
                <ul class="list">
                    <li>Name: <%= currentUser.name %></li>
                    <li>Email: <%= currentUser.email %></li>
                    <li>Phone: <%= currentUser.phone %></li>
                    <li>UID: <b><%= currentUser.uid %></b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="img" src="<%= user.gravatar %>" />
            </a>
        </div>
        <div class="card-body">
            <h6 class="card-category text-gray"><% if (currentUser.isAdmin == false) { %>User <% } else { %>Admin<% } %></h6>
            <h4 class="card-title"><%= currentUser.name %></h4>
            <p class="card-description">
                <% if (currentUser.name == "Jay Sinha") {%> Your kickass IT guy!<% } else if (currentUser.isAdmin == false) { %>Congrats, you are an Ambassador with Inversion <% } else { %> Someone whose words are to be taken seriosuly! <% } %>
            </p>
            <!-- <a href="#pablo" class="btn btn-rose btn-round">Follow</a> -->
        </div>
    </div>
</div>
<script>
    $('#profileMenu').addClass("active");
</script>
<% include partials/footer %>